* {
  padding: 0%;
  margin: 0%;
  background-color: rgb(50, 141, 141);
}
.color1 {
  height: 120px;
  width: 120px;
  background-color: var(--the_color);
}
.color2 {
  height: 120px;
  width: 120px;
  background-color: var(--the_color);
}
/* #color {
  background-color: var(--the_color);
} */
